
@import "./variables.scss";
@import "./mixins.scss";

@media print {
  @page {
    margin: 0;
    size: landscape;
  }
  app-tile.print {
    width: 29.7cm !important;
    height: 21.0cm !important;
    button {
      display: none !important;
    }
    canvas {
      width: calc(100% - #{$gutter-print*4}) !important;
      height: calc(100% - #{$gutter-print*2}) !important;
      padding: $gutter-print $gutter-print*3 $gutter-print $gutter-print!important;
    }
  }
}
