
@import "./variables.scss";

@media print {
  @page {
    margin: 0;
    size: landscape;
  }
  button {
    display: none !important;
  }
  canvas {
    width: calc(29.7cm - #{$gutter-print*6}) !important;
    height: calc(21.0cm - #{$gutter-print*4}) !important;
    padding: $gutter-print!important;
    padding-right: $gutter-print*3!important;
  }
}
