/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/base.scss";
@import "./styles/variables.scss";

@media print {
  @page {
    margin: 0;
    size: landscape;
  }
  canvas {
    width: calc(29.7cm - #{$gutter-print*6}) !important;
    height: calc(21.0cm - #{$gutter-print*4}) !important;
    padding: $gutter-print!important;
    padding-right: $gutter-print*3!important;
  }
}
