@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

:host {
  @include dimension(100%, 100%, $gutter, inherit);
  &.fullscreen {
    --var-header: 3rem;
    &.print{
      --var-header: 0rem;
    }
  }
  mat-card {
    box-sizing: border-box;
    @include dimension(calc(100% - #{$gutter*2}), calc(100% - #{$gutter*2}), auto, $gutter);

    mat-card-actions {
      @include dimension(auto, var(--var-header), 0 $gutter-large, auto);
      &.header-action {
        @include flex(row, flex-start, space-between);
      }
    }

    mat-card-content {
      margin: $gutter !important;
      margin-right: $gutter*3!important;
      width: calc(100%  - #{$gutter * 4})!important;
      height: calc(100%  - #{$gutter * 2} - var(--var-header, 0rem))!important;
    }

    .chart-query {
      @include position;
      width: 40%;
    }
  }
}
