<mat-card>
  <mat-card-title>POC html to export pdf files.</mat-card-title>
  <mat-card-actions>
    <form [formGroup]="form">
      <mat-form-field>
        <input required formControlName="chartNumber" matInput type="number" min="0" max="20"
          placeholder="Chart number">
      </mat-form-field>
      <mat-form-field>
        <input required formControlName="timeRange" matInput type="number" min="1" max="250"
          placeholder="Time range (days)">
      </mat-form-field>
      <mat-form-field>
        <input required formControlName="datasetNumber" matInput type="number" min="1" max="10"
          placeholder="Dataset number">
      </mat-form-field>
      <mat-form-field>
        <input required formControlName="delayMax" matInput type="number" min="0" max="10000" placeholder="Delay max">
      </mat-form-field>
      <span class="button-container">
        <button type="submit" color="primary" [disabled]="form.invalid" mat-stroked-button (click)="onClickRun()">
          <mat-icon>play_arrow</mat-icon>Run
        </button>
        <button type="button" mat-stroked-button (click)="onClickDashboardPrint()">
          <mat-icon>print</mat-icon>Dashboard print
        </button>
        <button type="button" mat-button (click)="onClickReset()">Reset</button>
      </span>
    </form>
  </mat-card-actions>
</mat-card>
