@import '../../styles/variables.scss';

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $app-bar-height;
  z-index: 10000;
  background-color: white;
  margin: 0 $gutter-large $gutter-large $gutter-large;
  mat-card {
    box-sizing: border-box;
    margin: $gutter-large;
    width: calc(100% - #{$gutter-large*4});
    form {
      display: flex;
      mat-form-field, button {
        margin: 0.4rem;
        height: 2.5rem;
      }
      .button-container{
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%;
      }
    }
  }
}
